{% include "default/Structure/Header.twig" %}
<div class="text-center mt-5">
    <div class="error mx-auto" data-text="404">
        <p class="m-0">404</p>
    </div>
    <p class="text-dark mb-5 lead">Página não Encontrada</p>
    <p class="text-black-50 mb-0">
        Aparentemente houve uma falha na matrix...</p><a href="/">
        ← Voltar para o Dashboard
    </a>
</div>
{% include "default/Structure/Footer.twig" %}